
:import {
	-st-from: '@flexis/ui/stylable/colors';
	-st-named: darken;
}

:import {
	-st-from: '../../variables.st.css';
	-st-named: colorBrandInfo;
}

.info {
	color: value(colorBrandInfo);
}

.info:hover,
.info:focus {
	color: darken(value(colorBrandInfo), 16%);
}
