
:import {
	-st-from: '@flexis/ui/stylable/colors';
	-st-named:
		darken,
		textColor;
}

:import {
	-st-from: '../../variables.st.css';
	-st-named:
		colorWhite,
		colorBlack,
		colorBrandSuccess;
}

:import {
	-st-from: '../Button.st.css';
	-st-default: Button;
}

.success {
	-st-extends: Button;
	background-color: value(colorBrandSuccess);
	color: textColor(value(colorBrandSuccess), value(colorBlack), value(colorWhite));
}

.success:focus,
.success:not(:disabled):hover,
.success:not(:disabled):pseudoFocus {
	background-color: darken(value(colorBrandSuccess), 10%);
}

.success:not(:disabled):active,
.success:not(:disabled):pseudoActive {
	background-color: darken(value(colorBrandSuccess), 20%);
}
